[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[dn]
C  = IN
ST = Delhi
L  = Delhi
O  = Layer8
OU = Dev
CN = 192.168.137.1

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.137.1
